{
  "root": true,
  "extends": ["airbnb", "prettier"],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [".storybook/**", "stories/**", "rollup.config.js"]
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-expressions": "off",
    "import/no-named-as-default": 0,
    "react/forbid-prop-types": 0,
    "react/prop-types": 0
  }
}
